body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: museo-sans-rounded,sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: #0b2227;
    font-weight: 500;
    margin: 0;
}
.globalNav {
    background: #fff;
    display: block;
    width: 100%;
    height: 90px;
    position: relative;
    z-index: 999;
}
.globalNav .container-lg, .globalNav .hero-main {
    height: 100%;
}
.container-lg, .container-md, .hero-main {
    margin: 0 auto;
    padding: 0 1em;
    position: relative;
    z-index: 5;
}
.container-lg, .hero-main {
    max-width: 1250px;
    width: 100%;
}
.flex-justify, .justify-between {
    justify-content: space-between;
}
.flex-justify {
    display: flex;
}
.flex-justify-left {
    display: flex;
    justify-content: left;
}
.logo{
    width: 200px;
    top: 25px;
    position: relative;
    z-index: 9999;
}
a{
    text-decoration: none;
    color: #008dd3;
    transition: all .3s;
    background-color: transparent;
}
* {
    box-sizing: inherit;
}
.flex{
    display: flex;
    width: 100%;
    flex: 1;
}
.anaconda_logo_circle {
    display: inline-block;
    margin-right: 0.4em;
}
.icon {
    vertical-align: middle;
}
.anaconda_logo_word {
    display: inline;
}
.globalNav .menu-burger {
    display: none;
    position: absolute;
    right: 1.3em;
    top: 1em;
    padding: 0.25em;
    width: 50px;
    height: 50px;
    background: #0b2227;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #fff;
    border-radius: 25em;
    z-index: 999999;
}
.hamburger-icon {
    width: 60px;
    height: 45px;
    position: relative;
    transform: rotate(0deg) scale(.45);
    transition: .5s ease-in-out;
    cursor: pointer;
}
.hidden, .invisible {
    opacity: 0;
}
.hidden {
    display: none;
    visibility: hidden;
}
.globalNav .menu {
    align-items: center;
    display: flex;
}
.globalNav .menu .menu-inner {
    position: relative;
    display: flex;
    justify-items: flex-start;
    margin-left: 1em;
}
.globalNav .nav-group {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1.2em 0.8em 1.2em 1.4em;
    position: relative;
    cursor: pointer;
}
.globalNav .nav-group-title {
    color: #0b2227;
    border-bottom: 5px solid transparent;
    padding-bottom: 5px;
    position: relative;
    transition: all .2s;
}
.flex-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.button-ui-new {
    cursor: pointer;
    border: 2px solid #0b2227;
    border-radius: 25em;
    padding: 0.4em 1.5em;
    background: #0b2227;
    color: #fff;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    position: relative;
    top: 0;
    transition: all .2s;
}
.hero-main {
    position: relative;
}
.hero-main, .pt-5 {
    padding-top: 5em;
}
.hero-main, .pb-2 {
    padding-bottom: 2em;
}
.hero-main, .mt-2 {
    margin-top: 2em;
}
.container-lg, .container-md, .hero-main {
    margin: 0 auto;
    padding: 0 1em;
    position: relative;
    z-index: 5;
}
.hero-main{
    max-width: 1250px;
    width: 100%;
}
.flex-wrap, .leadership-modal-card {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.pb-6 {
    padding-bottom: 6em;
}

.mt-0 {
    margin-top: 0;
}
@media only screen and (min-width: 768px){
.col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
    }
}
footer{
    display: block;
}
.globalFooter {
    padding: 4em 0;
    background: #152442;
}
.pr-2 {
    padding-right: 2em;
}

.pl-2 {
    padding-left: 2em;
}
.container-lg, .container-md, .hero-main {
    margin: 0 auto;
    padding: 0 1em;
    position: relative;
    z-index: 5;
}
.container-lg, .hero-main {
    max-width: 1250px;
    width: 100%;
}
.row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
}
.col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
}
a {
    text-decoration: none;
    color: #008dd3;
    transition: all .3s;
    background-color: transparent;
}
.flex, .hero-main {
    display: flex;
    width: 100%;
    flex: 1;
}
.anaconda_logo_circle {
    display: inline-block;
    margin-right: 0.4em;
}
.mt-1 {
    margin-top: 1em;
}

.font-light {
    font-weight: 300;
}
.text-white, .text-white p, .white, .white p {
    color: #fff;
}
h4, h5 {
    line-height: 1.3em;
}
.social-icons {
    justify-content: space-between;
    display: flex;
}

.mt-6 {
    margin-top: 6em;
}
.col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
}
.footer-sub {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #556575;
}

.footer-sub, .social-icons {
    justify-content: space-between;
    display: flex;
}
.text-small {
    font-size: .8em;
}
.footer-sub {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #556575;
}

.footer-sub, .social-icons {
    justify-content: space-between;
    display: flex;
}
.text-small {
    font-size: .8em;
}
.gdpr-banner {
    background-color: #152442;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
    z-index: 999999999;
}
.container-lg, .container-md, .hero-main {
    margin: 0 auto;
    padding: 0 1em;
    position: relative;
    z-index: 5;
}
.container-lg, .hero-main {
    max-width: 1250px;
    width: 100%;
}
.flex-justify, .justify-between {
    justify-content: space-between;
}
.flex-justify {
    display: flex;
}
.align-center, .flex-center {
    align-items: center;
}